<h1><%= params["team"]["name"] %></h1>
<h2><%= params["team"]["motto"] %></h2>
<br>
<h3>Hero Name:<%= params["team"]["members"][0]["name"] %></h2>
<br>
<%= params["team"]["members"][1]["name"] %>
<br>
<%= params["team"]["members"][2]["name"] %>
